<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PhoneBoi</title>
	</head>
	<body>
		{% for key, val in products.items() %}
		<h1>{{ key }}</h1>
		<table>
			<th>Company</th>
			<th>Configurations</th>
			<th>Products (Active)</th>
			<th>Billed Product Quantity (Sum)</th>


			{% for company in val %}
				<tr>
					<td>{{ company["name"] }}</td>
					<td>{{ company["configurations"] }}</td>
					<td>{{ company["products"] }}</td>
					<td>{{ company ["product_sum"] }} </td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
	</body>
</html>